html, body, .main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('https://t4.ftcdn.net/jpg/11/95/19/07/360_F_1195190781_a3XD10RNWeSwlxF8TBgRJ7DleeAv9xNe.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer_box {
    border: solid 1px black;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    display: grid;
    grid-template-rows: repeat(6, 2fr);
    justify-content: center;
    box-shadow: 3px 3px 20px rgb(49, 49, 49);

}

.top {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.user {
    width: auto;
    height: 50%;
    grid-row: 3;
    display: block;
    justify-content: center;
}

.password {
    width: auto;
    height: 50%;
    grid-row: 4;
    display: block;
    justify-content: center;
}

.user > input {
    width: 250px;
    height: 25px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 15px;
    color: black;
    cursor: text;
}

.password > input {
    width: 250px;
    height: 25px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 15px;
    color: black;
    cursor: text;
}

input:invalid {
    border: 2px solid red;
}

.user > p {
    cursor: default;
}


.password > p {
    cursor: default;
}

.user > ul {
    padding: 0;
    cursor: default;
}

.password > ul {
    padding: 0;
    cursor: default;
}

.user > ul > li {
    color: darkred; /*rgb(128, 128, 128)*/
    list-style: none;
}

.password > ul > li {
    color: darkred;
    list-style: none;
}

/*
.password > img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 3px;
    cursor: pointer;
}
*/

.btn_link {
    grid-row: 5/7;
    display: block;
}

.btn {
    width: 100%;
    height: 50%;
    grid-row: 5;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.btn > button {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(225, 225, 225);
}

.btn > button:hover {
    background-color: rgb(165, 165, 165);
}

.btn > button > a {
    text-decoration: none;
    color: black;
}

.link {
    width: 100%;
    height: 50%;
    grid-row: 6;    
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.link > a {
    text-decoration: none;
    color: blue;
}

.link > a:hover {
    text-decoration: underline;
}